<a href="https://colab.research.google.com/github/usugunawan15/hatespeech-detection/blob/main/hate_speech_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hate Speech Detection**
Usu Gunawan | DS0223

**Import Library**

In [135]:
! pip3 install nltk
! pip3 install Sastrawi
import Sastrawi
import nltk
nltk.download('punkt')
nltk.download('stopwords')

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)
Requirement already satisfied: Sastrawi in /usr/local/lib/python3.6/dist-packages (1.0.1)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [136]:
import pandas as pd
import seaborn as sns
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import re
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import make_scorer, accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, roc_auc_score, recall_score, precision_score

In [137]:
import requests
import io

response = requests.get('https://raw.githubusercontent.com/usugunawan15/hatespeech-detection/main/dataset_hatespeech.txt')
data = io.StringIO(response.text)

In [138]:
df = pd.read_csv(data,sep='\t')
df.head()

    Label                                                                                                                 Tweet
0  Non_HS  RT @spardaxyz: Fadli Zon Minta Mendagri Segera Menonaktifkan Ahok Jadi Gubernur DKI https:\/\/t.co\/KH5vIRwPdO
1  Non_HS  RT @baguscondromowo: Mereka terus melukai aksi dalam rangka memenjarakan Ahok atau Ahok gagal dalam Pilkada.
2  Non_HS  Sylvi: bagaimana gurbernur melakukan kekerasan perempuan? Buktinya banyak ibu2 mau foto bareng #DebatFinalPilkadaJKT
3  Non_HS  Ahmad Dhani Tak Puas Debat Pilkada, Masalah Jalan di Bekasi Belum Sempat Terungkap https:\/\/t.co\/m3HopPLUID\u2026
4  Non_HS  RT @lisdaulay28: Waspada KTP palsu.....kawal PILKADA https:\/\/t.co\/OOoERQV4SM

In [139]:
df['Label'] = df['Label'].map({
    "Non_HS" : 0,
    "HS" : 1
})
df.head()

   Label                                                                                                                 Tweet
0  0      RT @spardaxyz: Fadli Zon Minta Mendagri Segera Menonaktifkan Ahok Jadi Gubernur DKI https:\/\/t.co\/KH5vIRwPdO
1  0      RT @baguscondromowo: Mereka terus melukai aksi dalam rangka memenjarakan Ahok atau Ahok gagal dalam Pilkada.
2  0      Sylvi: bagaimana gurbernur melakukan kekerasan perempuan? Buktinya banyak ibu2 mau foto bareng #DebatFinalPilkadaJKT
3  0      Ahmad Dhani Tak Puas Debat Pilkada, Masalah Jalan di Bekasi Belum Sempat Terungkap https:\/\/t.co\/m3HopPLUID\u2026
4  0      RT @lisdaulay28: Waspada KTP palsu.....kawal PILKADA https:\/\/t.co\/OOoERQV4SM

In [140]:
df['Label'].value_counts()

0    453
1    260
Name: Label, dtype: int64

**Text Cleaning**

In [141]:
#Melakukan penghapusan data yang tidak relevan
casefold = []
for i in df['Tweet'] :
  try :
    removed = i.replace("RT", "") # Menghapus retweet
    removed = re.sub(r'@[A-Za-z0-9_]+', '', removed) # Menghapus username twitter
    removed = re.sub(r'https?:\\[^ ]+', '', removed) #Menghapus alamat website
    removed = re.sub(r'[\W+|_]+', ' ', removed).lower() #menghapus karakter spesial kecuali spasi

    casefold.append(removed)
  except :
    continue

In [142]:
clean = pd.DataFrame({'clean_text':casefold})
clean.head()

                                                                                                          clean_text
0   fadli zon minta mendagri segera menonaktifkan ahok jadi gubernur dki
1   mereka terus melukai aksi dalam rangka memenjarakan ahok atau ahok gagal dalam pilkada
2  sylvi bagaimana gurbernur melakukan kekerasan perempuan buktinya banyak ibu2 mau foto bareng debatfinalpilkadajkt
3  ahmad dhani tak puas debat pilkada masalah jalan di bekasi belum sempat terungkap
4   waspada ktp palsu kawal pilkada

**Stemming**

In [143]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
# factory = StopWordRemoverFactory()
# stopword = factory.create_stop_word_remover()
factory = StemmerFactory()
stemmer = factory.create_stemmer()
stemm = []
for i in casefold :
  hasil = stemmer.stem(i)
  stemm.append(hasil)

In [144]:
stem =pd.DataFrame({'stem': stemm})
stem.head()

                                                                                                    stem
0  fadli zon minta mendagri segera nonaktif ahok jadi gubernur dki
1  mereka terus luka aksi dalam rangka penjara ahok atau ahok gagal dalam pilkada
2  sylvi bagaimana gurbernur laku keras perempuan bukti banyak ibu2 mau foto bareng debatfinalpilkadajkt
3  ahmad dhani tak puas debat pilkada masalah jalan di bekas belum sempat ungkap
4  waspada ktp palsu kawal pilkada

**Tokenization**

In [145]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
clean_text = []
listStopword =  set(stopwords.words('indonesian'))
tokenized = []
for i in stemm :
  tokens = nltk.tokenize.word_tokenize(i)
  tokenized.append(tokens)

In [146]:
token = pd.DataFrame({'tokenized':tokenized})
token.head()

                                                                                                             tokenized
0  [fadli, zon, minta, mendagri, segera, nonaktif, ahok, jadi, gubernur, dki]
1  [mereka, terus, luka, aksi, dalam, rangka, penjara, ahok, atau, ahok, gagal, dalam, pilkada]
2  [sylvi, bagaimana, gurbernur, laku, keras, perempuan, bukti, banyak, ibu2, mau, foto, bareng, debatfinalpilkadajkt]
3  [ahmad, dhani, tak, puas, debat, pilkada, masalah, jalan, di, bekas, belum, sempat, ungkap]
4  [waspada, ktp, palsu, kawal, pilkada]

**Remove Stop Words**

In [147]:
def remove_stopwords(txt_tokenized):
    txt_clear = [w for w in txt_tokenized if not w in listStopword]
    return txt_clear

df['no_sw'] = token['tokenized'].apply(lambda x: remove_stopwords(x))

In [148]:
df

     Label  ...                                                                                                                                                 no_sw
0    0      ...  [fadli, zon, mendagri, nonaktif, ahok, gubernur, dki]
1    0      ...  [luka, aksi, rangka, penjara, ahok, ahok, gagal, pilkada]
2    0      ...  [sylvi, gurbernur, laku, keras, perempuan, bukti, ibu2, foto, bareng, debatfinalpilkadajkt]
3    0      ...  [ahmad, dhani, puas, debat, pilkada, jalan, bekas]
4    0      ...  [waspada, ktp, palsu, kawal, pilkada]
..  ..      ...                                    ...
708  1      ...  [muka, si, babi, ahok, tuh, yg, serbet, lantai]
709  1      ...  [bang, hancur, merka, bang, musnah, china, babi, bumi, pertiwi, indonesia, kedok, reklamasi, ahok]
710  1      ...  [sapa, yg, bilang, ahok, anti, korupsi, klo, grombolannya, ngomong, gtu, wajar, ahok, mafia, koruptor, sang, nista, agama, yg, lindung, istana, pki]
711  1      ...  [gw, ngimpi, sentilin, biji, babi, ahok, pcetar, pcetar, langsung, kejang2, die, ngadu, jkw, jkw, makanye, sunat, bru, ngomong, almaidah]
712  1      ...  [mudah2an, gw, ketemu, si, babi, iwan, bopeng, tps, nya, anjing, ahok]

[713 rows x 3 columns]

**Clean Text**

In [150]:
clean_text = []
for kata in df['no_sw']:
  joined = ' '.join(kata)
  clean_text.append(joined)

In [127]:
clean_text = pd.DataFrame({'clean':clean_text})
clean_text.head()

                                                                              clean
0  fadli zon mendagri nonaktif ahok gubernur dki
1  luka aksi rangka penjara ahok ahok gagal pilkada
2  sylvi gurbernur laku keras perempuan bukti ibu2 foto bareng debatfinalpilkadajkt
3  ahmad dhani puas debat pilkada jalan bekas
4  waspada ktp palsu kawal pilkada

**Split Data**

In [153]:
df_train, df_test = train_test_split(df, test_size=0.2)

**Feature Extraction**

In [154]:
Tfidf_vect = TfidfVectorizer()
Tfidf_vect.fit(df['Tweet'])
Train_X_Tfidf = Tfidf_vect.transform(df_train['Tweet'])
Test_X_Tfidf = Tfidf_vect.transform(df_test['Tweet'])
y_train = df_train['Label'].to_numpy()
y_test = df_test['Label'].to_numpy()

**Klasifikasi**

In [155]:
def klasifikasi(df):
  classifier = SVC(kernel=df, random_state=1)
  classifier.fit(Train_X_Tfidf, y_train)

  y_pred = classifier.predict(Test_X_Tfidf)
 
  print('result = ')
  print('akurasi  =',accuracy_score(y_test, y_pred)*100,'%')

  print('presisi  =',precision_score(y_test, y_pred, average='macro')*100,'%')

  print('recall   =',recall_score(y_test, y_pred, average='macro')*100,'%')

  print('f1 score =',f1_score(y_test, y_pred, average='macro')*100,'%')

In [156]:
klasifikasi('sigmoid')

result =
akurasi  = 86.01398601398601 %
presisi  = 85.82018173122907 %
recall   = 82.5227963525836 %
f1 score = 83.78684807256236 %

In [44]:
klasifikasi('rbf')

result =
akurasi  = 78.32167832167832 %
presisi  = 85.32608695652173 %
recall   = 70.6043956043956 %
f1 score = 71.9873617693523 %

In [45]:
klasifikasi('linear')

result =
akurasi  = 84.61538461538461 %
presisi  = 86.95482866043614 %
recall   = 80.08241758241759 %
f1 score = 81.94444444444444 %

In [157]:
classifier = SVC(kernel="linear", random_state=1)
classifier.fit(Train_X_Tfidf, y_train)
y_pred = classifier.predict(Test_X_Tfidf)

In [159]:
df_pred = df_test.copy()
df_pred['prediksi'] = y_pred
df_pred['true_prediction'] = np.where(df_pred['prediksi'] == df_test['Label'], True, False)
df_pred.to_excel("prediksi.xlsx")

In [92]:
pd.set_option('display.max_colwidth', -1)
df_diff = df_pred.loc[df_pred['true_prediction'] == True]
display(df_diff)

     Label  ... true_prediction
407  0      ...  True
93   0      ...  True
315  0      ...  True
605  1      ...  True
331  0      ...  True
..  ..      ...   ...
322  0      ...  True
401  0      ...  True
255  0      ...  True
562  1      ...  True
41   0      ...  True

[121 rows x 5 columns]

**Analyze**

In [160]:
df_result = df_pred.copy()

In [161]:
df_result['temp_list'] = df_result['Tweet'].apply(lambda x:str(x).split())

In [162]:
HS_sent = df_result[df_result['Label']== 0]
NON_HS_sent = df_result[df_result['Label']== 1]

In [164]:
from collections import Counter

#MosT common hatespeech words
top = Counter([item for sublist in HS_sent['temp_list'] for item in sublist])
temp_positive = pd.DataFrame(top.most_common(10))
temp_positive.columns = ['Common_words','count']
temp_positive.style.background_gradient(cmap='Greens')

In [166]:
#MosT common non HS words
top = Counter([item for sublist in NON_HS_sent['temp_list'] for item in sublist])
temp_negative = pd.DataFrame(top.most_common(10))
temp_negative = temp_negative.iloc[1:,:]
temp_negative.columns = ['Common_words','count']
temp_negative.style.background_gradient(cmap='Reds')

In [167]:
raw_text = [word for word_list in df_result['temp_list'] for word in word_list]

In [168]:
def words_unique(Label,numwords,raw_words):

    allother = []
    for item in df_result[df_result.Label != Label]['temp_list']:
        for word in item:
            allother .append(word)
    allother  = list(set(allother ))
    
    specificnonly = [x for x in raw_text if x not in allother]
    
    mycounter = Counter()
    
    for item in df_result[df_result.Label == Label]['temp_list']:
        for word in item:
            mycounter[word] += 1
    keep = list(specificnonly)
    
    for word in list(mycounter):
        if word not in keep:
            del mycounter[word]
    
    Unique_words = pd.DataFrame(mycounter.most_common(numwords), columns = ['words','count'])
    
    return Unique_words

In [171]:
Unique_Positive= words_unique(1, 10, raw_text)
print("The top 20 unique words in Hatespeech Tweets are:")
Unique_Positive.style.background_gradient(cmap='Greens')

The top 20 unique words in Hatespeech Tweets are:

In [170]:
Unique_Negative= words_unique(0, 10, raw_text)
print("The top 10 unique words in Non Hatespeech Tweets are:")
Unique_Negative.style.background_gradient(cmap='Reds')

The top 10 unique words in Non Hatespeech Tweets are: